<div class="container">
  <i *ngIf="data.opt == 'success'" class="fa-sharp fa-solid fa-circle-check text-success"></i>
  <i *ngIf="data.opt == 'warning'" class="fa-solid fa-circle-exclamation text-warning"></i>
  <i *ngIf="data.opt == 'error'" class="fa-solid fa-circle-xmark text-danger"></i>
  <i *ngIf="data.opt == 'info'" class="fa-solid fa-circle-info text-primary"></i>
  <h3 class="poppins-b">{{data.titulo}}</h3>
  <div mat-dialog-content>
    <p>{{data.mensaje}}</p>
  </div>
  <div [attr.mat-dialog-actions]="'center'" style="text-align: center; width: 100%;">
    <button class="btn btn-primary" mat-button [mat-dialog-close]="" cdkFocusInitial>Ok</button>
  </div>
</div>